@use "../../../assets/scss/_variables.scss" as var;

.sonar-eventcard{
    min-height: 450px;
    width: 21vw;
    //max-width: 345px; //22vw
    min-width: 345px;
    z-index: 5;
    margin-bottom: 20px; //7%
    border-radius: 7vh !important;
}

.sonar-eventcard_top-icon {
    background: white;
    width: 36px; //2.3vw
    height: 36px; //2.3vw
    border-radius: 50px; //100%
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
}
.sonar-eventcard_top-icon > button{
    width: 36px; //2.3vw
    height: 36px; //2.3vw
    min-width: 36px; //2.3vw
    border-radius: 50px; //100%
}
.sonar-eventcard_top-details{
    background: white;
    width: 80px; //5vw
    height: 36px; //2.3vw
    border-radius: 50px; //3vh
    display: flex;
    justify-content: center;
    position: relative;
    left: 49%;
}
.sonar-eventcard_top-details > button{
    width: 80px; //5vw
    height: 36px; //2.3vw
    border-radius: 50px; //3vh
}
.sonar-eventcard_top-icons {
    position: relative;
    z-index: 5;

}
.sonar-eventcard_tags{
    position: relative;
    top:390%;
    z-index: 5;
}

.sonar-eventcard_tag-icon{
    max-width: 50%; //10vw
    height: auto;
    border-radius: 6px; //1vh
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    label{
        font-size: 15px; //2.2vh
        margin: 2px 5px 2px 5px; //0.3vh 0.33vw 0.3vh 0.33vw
        font-weight: bolder;
        color: white;
        //max-width: 9vw;
        overflow: hidden;
    }
}
.sonar-eventcard_tag-icon-date{
    background: orange;
}
.sonar-eventcard_tag-icon-registration{
    background: forestgreen;
}

.sonar-eventcard_media {
    position: relative;
    top: -66px; //-10vh
    left: -16px; //-1.1vw
    height: 300px; //42.5vh
    width: 345px !important; //22.1vw !important
}

.sonar-eventcard_header{
    height: 50px; //7vh
    z-index: 10;
    border-radius: 30vh;
}

.sonar-eventcard_content{
    height: 400px; //56.8vh
    padding: 0 !important;
}

.sonar-eventcard_content_text {
    position: relative;
    bottom: 50px; //7vh
    padding: 10px 20px 0 20px; //1.4vh 1.3vw 0 1.3vw

}

.sonar-eventcard_content_text-title{
    color: green;
    margin: 0 0 8px 0; // 0 0 1.1vh 0
    font-size: 20px; //2.8vh
    font-weight: bolder;
}
.sonar-eventcard_content_text-date{
    color: black;
    font-size: 15px; //2.1vh
    margin: 0;
    font-weight: bold;
}
.sonar-eventcard_content_text-costs{
    color: rebeccapurple;
    font-size: 15px; //2.1vh
    margin: 0;
    font-weight: bolder;
}