@use "../../../assets/scss/_variables.scss" as var;

.sonar-footer {
  $padding: 1vh; //15px
  z-index: 2;
  position: fixed;
  bottom: 3vh; //30px
  left: 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 $padding;

  &_inner {
    min-width: var.$appWidth;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var.color(theme, light);
    box-sizing: border-box;
    padding: $padding;
    border-radius: 30vh;
    //min-height: 70px; //10vh
    max-height: 10vh; //70px
  }

  &_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    width: 100%;
    &-seperator {
      width: 0.13vw; //2px
      height: 6.9vh;
      background-color: var.color(theme, seperator);
    }
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;
      outline: none;
      border: 0;
      border-radius: 16vh;
      box-sizing: border-box;
      padding: 2.1vh; //15px
      background-color: var.color(theme, light);
      color: var.color(theme, dark);
      svg {
        width: 3.2vh; //1.4rem
        height: 3.2vh; //1.4rem
      }
      &:hover {
        background-color: var.color(theme, accent2);
      }
      &.active{
        background-color: var.color(theme, accent);
      }
    }
  }

}