.interactiveMap-container {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

.sonar-map_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.circle {
  position: absolute;
  width: 2.7vh;
  height: 2.7vh;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  animation: pulse-animation 2s infinite;
  background-color: #66FF99;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(102, 255, 153, 10.2);
  }
  100% {
    box-shadow: 0 0 0 1.5vh rgba(102, 255, 153, 0);
  }
}

.c{
  &1{
  top: 20%;
  left: 10%;
  }
  &2{
    top: 15%;
    left: 80%;
  }
  &3{
    top: 40%;
    left: 70%;
  }
  &4{
    top: 80%;
    left: 40%;
  }
  &5{
    top: 50%;
    left: 35%;
  }
}