.filter-overlay {
  postion: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(125, 125, 125, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterButton {
  margin: 0.3rem;
  padding: 0.4rem 1rem;
  border: 1px solid #888;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease;

  &:hover {
    background-color: #FABB22;
  }

  &.active {
    background-color: #FABB22;
    border-color: black;
  }
}
