@use "../../../assets/scss/_variables.scss" as var;

.sonar-eventcard{
  min-height: 60vh;
  min-width: var.$appWidth;
  max-width: 40vw;
  z-index: 5;
  margin-bottom: 2.7vh;
  border-radius: 4vh !important;
  padding-bottom: 1.5vh;
}

.sonar-eventcard_container {
  height: 100%;
  position: relative;
  overflow: scroll;
}

.sonar-eventcard_media {
  position: relative;
  display: flex !important;
  height: 35vh;
  width: 100% !important;
  &-div{
    position: absolute;
    width: 100%;
  }
}

.sonar-eventcard_header{
  height: 100%;
  z-index: 10;
  border-radius: 30vh;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.sonar-eventcard_top-icons {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 13.5%;
  padding: 1vh 0 0 0 !important;
}

.sonar-eventcard_top-icon {
  background: white;
  width: 4.7vh;
  height: 4.7vh;
  border-radius: 100%;
  margin-left: 1vw !important;
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  button{
    width: 4.7vh;
    height: 4.7vh;
    min-width: 36px;
    border-radius: 100%;
    padding: 0.6vh 0.7vw 0.6vh 0.7vw;
    svg{
      font-size: 3.1vh;
    }
  }
  &-buffer{
    width: 100%;
  }
}

.sonar-eventcard_top-cancel{
  width: 6.6vh;
  height: 4.7vh;
  min-width: 5vh;
  border-radius: 3vh;
  margin-left: 1vw !important;
  margin-right: 1.5vw !important;
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  overflow: hidden;
  button{
    border-radius: 3vh;
    font-size: 1.8vh;
    background: white;
    padding: 0;
    svg{
      font-size: 4.7vh;
    }
  }
}

.sonar-eventcard_tags{
  position: relative;
  top:23vh;
  z-index: 5;
  padding: 1vh !important;
}

.sonar-eventcard_tag-icon{
  max-width: 50%;
  height: auto;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  label{
    font-size: 1.9vh;
    margin: 0.27vh 0.65vw 0.27vh 0.65vw;
    font-weight: bolder;
    color: white;
    overflow: hidden;
  }
  &-date{background: orange;}
  &-registration{
    background: forestgreen;
    margin-left: 1vw !important;
  }
}

#sonar-eventcard_content_text-div{
  padding: 2.1vh 2vw 2.1vh 2vw;
}

.sonar-eventcard_content{
  height: 42%;
  position: relative;
  top: 35vh;
  padding: 0 !important;
  &_text{
    position: relative;
    padding: 1.3vh 2.5vw 1.3vh 2.5vw;
    &-date{
      color: black;
      font-size: 1.96vh;
      margin: 0;
      font-weight: bold;
    }
    &-costs{
      color: rebeccapurple;
      font-size: 1.96vh;
      margin: 0;
      font-weight: bolder;
    }
    &-title{
      color: green;
      margin: 2vh 0 0 0;
      font-size: 2.6vh;
      font-weight: bolder;
    }
    &-headline{
      font-size: 3vh;
      font-weight: bold;
    }
    &-text{font-size: 2vh}
    &-location{font-size: 2vh}
    &-button{
      height: 6vh;
      width: auto;
      padding-top: 2vh;
      a{
        top: 0;
        font-size: 2vh;
        font-family: Roboto, sans-serif;
        text-decoration: none;
        width: auto;
        padding: 2vh 2vw 2vh 2vw;
        height: 100%;
        border-radius: 3vh;
        background: black;
        color: white;
      }
    }
  }
}

.sonar-eventcard_categorys{
  z-index: 5;
  padding: 1vh !important;
}

.sonar-eventcard_category{
  max-width: 50%;
  height: auto;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  background: orange;
  label{
    font-size: 1.9vh;
    margin: 0.27vh 0.65vw 0.27vh 0.65vw;
    font-weight: bolder;
    color: black;
    overflow: hidden;
  }
}

.sonar-eventcard_map{
  height: 30vh;
  width: 33vw;
}