.icon-container {
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  //top: -8vh;
  //right: -13vw;
  width: 5vh;
  height: 5vh;
  > svg{
    background-size: 0.1vh;
    border-radius: 50px;
    overflow: hidden;
    width: 6.4vh;
    height: 6.4vh;
  }
}

.icon-container:hover {
    cursor: pointer;
  .cancel-icon {
    color: #ffd35f;
    font-size: 2.8em !important;
    z-index: 10;
  }
}

.icon-container:active {
  cursor: pointer;
  .cancel-icon {
    color: #a17a07;
    font-size: 2.8em !important;
    z-index: 10;
  }
}

.cancel-icon {
  color: #FABB22;
  font-size: 2.8em !important;
  z-index: 10;
}

fieldset {
  background-color: rgba(125,125,125,0.15);
  border-radius: 25px;
  border-color: rgba(125,125,125,0.15);
}