//Mit dem Container konnte ich das nicht vernünftig stylen.

//.component-container {
//  width: 100vw;
//  height: 100vh;
//  z-index: 100;
//}

.icon-container {
  display: flex;
  flex-direction: row-reverse;
}

.cancel-icon {
  color: #FABB22;
  font-size: 2.8em !important;
  position: absolute;
  top: 18px;    // Top und right waren habe ich hinzugefügt um das Cancel-Icon auf den Background zu setzen.
  right: 18px;
  z-index: 100;
}

.icon-background {
  background: black;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 9;
}

.background {
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  z-index: 0;
}

fieldset {
  background-color: rgba(125,125,125,0.15);
  border-radius: 25px;
  border-color: rgba(125,125,125,0.15);
}